@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic');

body{
  font-family: 'PT Sans', sans-serif;
  font-size:14px;
  line-height:1.21;
  color:#7e7f80;
  overflow-x:hidden; 
}
*{
  box-sizing:border-box;
}
a{
  text-decoration:none;
}
a:hover{
  /*text-decoration:underline;*/
}
img{
  display:block;
  max-width:100%;
}
h1{
  font-family:'Montserrat', sans-serif;
  font-size:27px;
  line-height:36px;
  color:#3c3950;
  font-weight:bold;
  text-transform:uppercase;
  margin:26px 0;
}
h1.promo-h1{
  margin:0 0 15px;
}
h2{
  font-family:'Montserrat', sans-serif;
  font-size:32px;
  line-height:43px;
  color:#3c3950;
  font-weight:bold;
  text-transform:uppercase;
  margin:26px 0;
}
h3{
  font-family:'Montserrat', sans-serif;
  font-size:18px;
  line-height:36px;
  color:#3c3950;
  font-weight:bold;
  text-transform:uppercase;
  margin:15px 0;
}
h3.promo-h3{
  margin:0 0 -3px;
  font-weight:600;
}
h4{
  font-size:17px;
  line-height:34px;
  font-family:'Montserrat', sans-serif;
  font-weight:600;
  color:#7f8283;
  margin:5px 0 20px;
  text-transform:uppercase;
}
h5{
  font-size:17px;
  line-height:29px;
  font-family:'Montserrat', sans-serif;
  font-weight:500;
  color:#7f8283;
  margin:5px 0 19px;
  text-transform:uppercase;
}

p{
  margin: 0 0 15px;  
}

.container{
  max-width:1200px;
  margin:0 auto;
  padding:0 15px;
  box-sizing: border-box;
}
.container-fluid{
  margin:0 auto;
  padding:0 15px;
  box-sizing: border-box;
  width:100%;
}
#page{
  display:flex;
  flex-direction:column;
}
header.header{
  font-family:'Montserrat', sans-serif;
  background:#000;
  color:#fff;
  padding:5px 0;
  display:none;
}
.not-front header.header{
  order:1;
}
.region-header{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
header.header a{
  color:#fff;
}
#main-menu,
#sub-main-menu,
ul.language-switcher-locale-url{
  margin:0;
  padding:0;
  list-style-type: none;
}

.header-user-area div,
.header-user-area a,
.header-user-area span{
  display:inline-block;
  text-transform:uppercase;
  vertical-align:middle;
}
.header-user-area span{
  margin:0 5px 0 0;
}
.header-user-area .logged-in a,
.header-user-area .log-out a{
  margin:0 12px 0 0;
}
.header-user-area .logged-in a:last-child,
.header-user-area .log-out a:last-child{
  margin:0 10px 0 0;
}
.socialki a{
  font-size:20px;
  margin:0 0 0 5px;
  text-decoration:none;
}
nav.logo-navigation{
  border-bottom:solid 1px #d3d4d5;
  position:relative;
  font-family:'Montserrat', sans-serif;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 20;
}
.not-front nav.logo-navigation{
  order:2;
}
nav.logo-navigation .flex{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
}
.mobile-language{
  position:relative;
  margin: 0;
  cursor:pointer;
  color:#353436;
}
.mobile-language .language-switcher-locale-url{
  display:none;
  position:absolute;
  background:#fff;
  border:solid 1px #eee;
  padding: 5px;  
}
.mobile-language .language-switcher-locale-url.open{
  display:block;
  right: 0;
  top: 26px;
  text-align:center;
}
.mobile-language .language-switcher-locale-url li{
  padding:5px 0;
}
.mobile-language .language-switcher-locale-url li a{
  color:#333;
  font-weight:500;
}

.mobile-menu {
  width: 29px;
  background-color: transparent;
  background-image: none;
  border: 0;
  padding: 0;
  display: block;
  cursor:pointer;
}
button:focus {outline:0;}

.mobile-menu .icon-bar {
  display: block;
  height: 3px;
  width: 29px;
  background: #000;
  margin: 0 auto 3px;
}
.mobile-menu .icon-bar.last{
  margin: 0 auto;
}
.mobile-menu.open .icon-bar {
    display: none;
}

.mobile-menu .close-btn {
  display: none;
  width: 29px;
  height: 26px;
  background: #fff url(../images/closebtn.png) no-repeat center center;
}
.mobile-menu.open .close-btn {
  display: block;
}
#logo{
  width:55%;
  display:block;
  padding:10px 0 12px;
}
#logo img{
  margin:0 auto;
  max-width:178px;
}
#navigation{
  display:none;
  position:absolute;
  left:0;
  top:39px;
  background:#fff;
  padding:0 15px 0 15px;
  border:solid 1px #d3d4d5;
  border-left:0;
  width:80%;
}
#navigation.open{
  display:block;
}
#sub-main-menu,
#main-menu{
  display:flex;
  flex-direction: column; 
  margin:0;
}
#sub-main-menu li,
#main-menu li{
  font-size:15px;
  line-height:48px;
  font-weight:500;  
  text-transform:uppercase;
  letter-spacing:0.07px;
  padding:0;
  margin:0;
  border-bottom:solid 1px #e7e8e8;
}
#sub-main-menu li:last-child,
#main-menu li.last{
  border:0;
}
#sub-main-menu li a,
#main-menu li a{
  color:#333;
}
#sub-main-menu li a:hover,
#main-menu li a:hover{
  color:#a1a5a9;
}

/* search */



.trio-bg{
  overflow:hidden;
  width:100%;
}
.trio-bg svg{
  margin:0 -50%; 
}
svg g.rotate {
  transition: transform .3s;
  transform-origin: 50.1% center;
  transform: rotateY(0deg);
}
svg g.rotate:hover{
  transform: rotateY(180deg);
  transition-delay: .2s
}
svg g.rotate:hover .st1{
  /*display:none;*/
}
/* directions */
.directions{
  padding:14px 0 0;  
  text-align:center;
  margin:27px 0 0;
}
.not-front .directions{
  order:6;
}
.not-front .directions .block:first-child{
  margin:27px 0 76px;
}
.directions .direction{
  margin: 0 0 22px;
}
.directions h2{
  margin:25px 0 68px;
  text-align:left;
  font-size:27px;
  line-height:1.2;
}
.directions h3.promo-h3{
  text-align:left;
  margin:0 0 62px;
  color:#7f8283;
}
.directions h2.promo-h2{
  margin:25px 0 -10px;
}
.directions img{
  display:inline-block;
}
.directions h4{
  margin:10px 0 0;
  line-height: 1.2;
}
.directions h4::after{
  content:'';
  width:52px;
  height:3px;
  background:#000;
  border-top:solid 1px #444;
  border-bottom:solid 1px #ccc;
  display:block;
  margin:2px auto 0;
}
.directions p{
  font-family:'Montserrat', sans-serif;
  font-size:15px;
  font-weight:600;
  color:#000;
  margin:14px 0 0;
}
.directions a{
  font-family:'Montserrat', sans-serif;
  font-size:15px;
  line-height:29px;
  font-weight:600;
  text-transform:uppercase;
  color:#000;
}
.directions a:hover{
  color:#a1a5a9;
}

/* about company */
.not-front .about-company{
  order:4;
}
.promo-img{
  margin:0 0 8px;
}
.promo-text{
  border:solid 1px #c9d2d9;
  padding:5px;
}
.promo-border{
  border:solid 1px #ebeef1;
  padding:12px;
}

/* brands */
.brands{
  padding:0 0 1px;
  margin:0 0 -10px;
}
.not-front .brands{
  order:5;
}
.brand{
  border:solid 1px #e7e4e4;
  padding:19px 12px;
  margin:0 0 14px;
  text-align:center;
  color:#000;
}
.brand img{
  margin:0 auto;
}
.brand .promo-gf{
  margin:8px 0 20px;
  font-size:18px;
}
.brand.linger img{
  margin:40px auto 52px;
}
.brand.giaguaro img{
  margin:14px auto -9px;
}

.brand.barkli img{
  margin:40px auto 27px;
}
.brand.barkli p{
  margin:0 0 102px;
}

/* assortment */
.not-front .assortment{
  order:7;
}

.not-front .highlighted{
  order:8;
}

/* lookbook */
.lookbook{
  margin:0 0 40px;
}
.not-front .lookbook{
  order:3;
}
.lookbook h2{
  margin:26px 0 20px;
}
.lookbook .md-objects .md-object a{
  background:#fff!important;
  color:#333;
  border:solid 1px #333333;
  border-radius:0;
  padding:5px 0;
}
.lookbook .md-objects .md-object a:hover{
  background:#a1a5a9!important;
  color:#fff;
}
.lookbook .md-arrow-left, .lookbook .md-arrow-right {
  background:#000 url(../images/arrow-left.png) no-repeat center center;
  filter:invert(100%);
  height:39px;
  width:52px;
}
.lookbook .md-arrow-right {
  transform:rotate(180deg);
}
.lookbook .md-arrow-left:hover, .lookbook .md-arrow-right:hover {
  background:#a1a5a9 url(../images/arrow-left.png) no-repeat center center;
  filter:invert(0%);  
}
.lookbook .md-bullets{
  display:none;
}

/* bg-price */
.bg-price{
  height:372px;
  background:#7f8283 url(../images/bg-price.png) no-repeat center center;
  margin:30px -15px 0;
  color:#fff;
  text-align:center;
}
.register-to-get-price-list{
  font-family:'Montserrat', sans-serif;
  font-size:18px;
  font-weight:bold;
  text-transform:uppercase;
  padding:45px 15px 70px; 
}
.get-price-list-link a{
  background:#f7f7f7;
  display:inline-block;
  color:#333333;
  text-decoration:none;
  border:solid 1px #333333;
  font-size:15px;
  line-height:47px;
  padding:0 20px;
}
.get-price-list-link a span {
    margin: 0 0 0 10px;
    font-size: 20px;
    vertical-align: top;
    color:#000;
}


/* footer */
.prefooter{
  background:#333;
  color:#fff;
  font-size:16px;
  line-height:36px;
  padding:20px 0;
}
.not-front .prefooter{
  order:9;
}
.prefooter h5{
  color:#fff;
}
.prefooter a{
  color:#fff;
}
.prefooter a:hover{
  color:#a1a5a9;
}
.prefooter img{
  display:none;
}
.prefooter .flex{
  display:flex;
  flex-direction:column;
}
.prefooter .flex .col{
  margin:0 0 27px;
}
.prefooter .icon_hourglass::before,
.prefooter .flex .col [data-icon]::before{
  margin:0 5px 0 0;
}

#footer{
  background:#000;
  padding:8px 0;
  font-size:11px;
  color#fff;
}
.not-front #footer{
  order:10;
}
#footer a{
  color:#fff;
  vertical-align:middle;
  white-space:nowrap;
}
#footer .flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
	display: -webkit-flex;
	display: -ms-flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;  
}
#footer img{
  width:70%;
  margin:2px 0;
}
#footer .flex-col{
  white-space:nowrap;
}
#footer .socialki{
  display:inline-block;
  border-left:solid 1px #fff;
  margin:0 0 0 5px;
  line-height:20px;
}
#footer .socialki a{font-size:13px;}
#footer a.customer-service:before{
  margin:0 3px 0 0;
}

@media (min-width: 600px) {
  .mobile-language .change-language{
    font-size:20px;
  }
  .mobile-language .language-switcher-locale-url.open{
    top:29px;
  }
  .trio-bg svg{
    margin:0 -30%;  
  }  
  .directions .flex{
    display:flex;
    flex-wrap: wrap;
    width:80%;
    margin:0 auto;
  }
  .not-front .directions .flex{
    width:100%;
  }  
  .directions .direction{
    flex: 1 50%;
  }
  .not-front .directions .direction{
    padding:0 15px;
  }
  .directions h2{
    font-size: 32px;
    line-height: 43px;    
  }
  .directions h2.promo-h2{
    margin:25px 0 -12px;
  }  
  .promo-img {
    width:100%;
  }
  .brands{
    margin:0;
  }
  .brands .flex{
    display:flex;
    flex-wrap: wrap;    
  }
  .brands .brand{
    flex: 0 50%;
    box-sizing:border-box;
    margin:0 0 -1px;
  }
  .brands .brand:nth-child(2n){
    border-left:0;
  }
  .brand.linger img {
    margin: 20px auto 52px;
    max-width:258px;
  }
  .bg-price{
    margin:80px -15px 0;
  }
  .register-to-get-price-list{
    font-size:20px;
    padding:96px 15px 70px;
  }
  .prefooter .flex{
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
  }
  .prefooter .flex .col{
    flex: 1 50%;
    box-sizing:border-box;
  }
  #footer .customer-service {
    font-size:14px;
  }
  #footer .socialki a {
    font-size: 18px;
  }
}


@media (min-width: 1000px) {
  body{
    font-size:18px;
    line-height:1.18;
    overflow-x:hidden;
  }
  h1{
    font-size:32px;
    line-height:43px;
  }
  .lookbook h2{
    margin:26px 0;
  }
  h3.promo-h3{
    font-size:24px;
    line-height:43px;    
  }
  /* header */
  header.header{
    font-size:12px;
    line-height:27px;
    display:block;
  }
  .region-header{
    flex-direction: row;
    justify-content: space-between;
  }
  .header .language-languages{
    min-width:40px;
    display:inline-block;
    font-weight:500;
    position:relative;
    vertical-align:middle;
    height:27px;
    overflow:hidden;
    text-align:center; 
    z-index:99;
  }
  .header .language-languages.open{
    overflow:visible;
  }
  .header .language-switcher-locale-url{
    position:absolute;
    background:#000;
    padding:0 7px 7px;
    display:flex;
    flex-direction:column;
    z-index:199;
  }
  .header .language-switcher-locale-url li{
    margin:0;
  }
  .header .language-switcher-locale-url li.active{
    order:-1; 
  } 
  .header .language-switcher-locale-url a.active, 
  .header .language-switcher-locale-url a:active, 
  .header .language-switcher-locale-url a:focus, 
  .header .language-switcher-locale-url a:hover {
    text-decoration:none;
    box-shadow: none;
  }
  .language-title{
    text-transform:uppercase;
    display:inline-block;
    font-weight:500;
    vertical-align:middle;
  }
  .language-trio{
    width:20px;
    height:27px;
    display:inline-block;
    vertical-align:middle;
    cursor:pointer;
    background:url(../images/trio-down.png) no-repeat center center;
    margin: 0 0 0 -9px;
  }
  .header-user-area .logged-in a:last-child,
  .header-user-area .log-out a:last-child{
    margin:0 50px 0 0;
  }
  .header .cart{
    font-size:22px;
    line-height:27px;
    display:inline-block;
    margin:0 0 0 20px;
  }
  .header .cart span{
    vertical-align: top;
  }
  #logo img{
    max-width:100%;
  }
  
  /*navigation & logo */
  nav.logo-navigation{
    text-align:center;
    padding: 9px 0 14px;
  }
  nav.logo-navigation .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  nav.logo-navigation img{
    display:inline-block;
  }
  #logo{
    width:auto;
  }
  #navigation{
    padding:9px 0 0;
    position:static;
    display:block;
    width:100%;
    border:0;
  }
  .not-front #navigation{
    display:flex;
    justify-content: space-between;
  }
  #navigation #main-menu{
    margin:0;
    padding:0;
    list-style-type: none;
    display:block;
  }
  #navigation #main-menu li{
    font-size:15px;
    line-height:28px;
    font-weight:500;
    border:0;
    display:inline-block;
    margin:0 6px;
  }
  #sub-main-menu,
  .mobile-language,
  .mobile-menu{
    display:none;
  }
  
  .not-front #navigation .search-outer .form-text{
    border:0;
    border-bottom:solid 1px #000;
    font-size:11px;
    line-height:20px;
    color:#7b7a7a;
    background:url(../images/search.png) no-repeat right 0; 
  }
  
  .trio-bg svg{
    margin:0 auto;
    background:#fff;
  }  
  .directions {
    text-align: center;
    margin: 27px 0 54px;
  }
  .directions .flex{
    align-items: baseline;
    width:100%;
    justify-content: space-between;
  }
  .directions .direction{
    flex: 0 auto;
  }
  .not-front .directions .direction{
    padding:0;
  }
  .directions h2.promo-h2{
    margin:25px 0 -16px;
  }   
  .promo-img {
    width:auto;
  }
  .about-company .flex{
    display: flex;
    width: 100%;
    height: 602px;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .about-company .flex .img{
    order:-1;
    width:40.2061%;
    height:602px;
    margin:0 2.0% 0 0;
    position:relative;
  }
  .not-front .about-company .flex .img{
    order:3;
    margin:0 0 0 2.0%;
  }
  .about-company .flex .headera-outer{
    order:1;
    width:57.5257%;
  }
  .about-company .flex .promo-text{
    order:1;
    width:57.5257%;
  }
  .about-company .flex img.promo-img{
    position:absolute;
    height:100%;
    width:auto;
    max-width:unset;
    top:0;
    right:0;
  } 
  .not-front .about-company .flex img.promo-img{
    right:auto;
    left:0;
  }
  .about-company .flex .promo-border{
    height:474px;
  }
  
  .assortment .flex{
    display:flex;
    flex-wrap: nowrap;
  }
  .assortment .flex .promo-text{
    box-sizing: border-box;
  }
  .assortment .flex .promo-text{
    order:-1;
    margin:0 20px 0 0;
    width:658px;
  }
  .not-front .assortment .flex .promo-text{
    order:2;
    margin:0 0 0 20px;
  }
  .assortment .flex .promo-border{
    min-height:454px;
  }
  .assortment .flex .img{
    width:40%;
    position:relative;
  }
  .assortment .flex img.promo-img{
    position:absolute;
    height:100%;
    width:auto;
    max-width:unset;
  }
  .not-front .assortment .flex img.promo-img{
    right:0;
  }
  .lookbook {
    margin: 26px 0 0;
  }
  .not-front .lookbook {
    margin: 0 0 45px;
  }  
  .lookbook .container-fluid{
    padding:0;
  }  
  .prefooter .flex{
    margin:0 -15px;
  }
  .prefooter .flex .col{
    flex: 1 auto;
    padding:0 15px;
  }
  .prefooter img {
    display: block;
    margin:20px auto 33px;
  }  
  .prefooter .flex .col h5{
    margin: 5px 0 35px;
  }
  .prefooter .flex .col div{
    margin:0 0 16px;
    line-height:20px;
  }
  #footer{
    padding:16px 0;
  }
  #footer .copyright img{
    max-width:165px;
    margin:0 10px 0 7px;
  }
  #footer .copyright img,
  #footer .copyright span{
    display:inline-block;
    vertical-align:middle;
  } 
  #footer .copyright span.last{
    border-left:solid 1px #8a8a89;
    padding:0 0 0 10px;
    line-height:16px;
  } 
  #footer .customer-service {
      font-size: 15px;
  }  
  #footer .socialki {
    margin: 0 0 0 16px;
    padding:0 0 0 24px;
    line-height: 26px;
    border-left: solid 2px #fff;
  }
  #footer .socialki a {
    font-size: 20px;
    margin: 0 0 0 7px;
  }

}

@media (min-width: 1200px) {
  html{
    background:#fff url(../images/bg-left-trio.png) no-repeat -130px 1250px;
  }
  body{
    background:url(../images/bg-right-trio.png) no-repeat right 844px;  
  }  
  h1,h2, .directions h2 {
    font-size:36px;
    line-height:48px;
  }
  h2, .lookbook h2{
    margin:41px 0;
  }
  h3.promo-h3 {
    font-size: 24px;
    line-height: 48px;
  }
  .about-company .flex{
    display: flex;
    width: 100%;
    height: 574px;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .about-company .flex .img{
    width:490px;
    height:574px;
    margin:0 20px 0 0;
    position:relative;
  }
  .about-company .flex .headera-outer{
    order:1;
    width:658px;
  }
  .about-company .flex .promo-text{
    order:1;
    width:658px;
    background:#fff;
  }
  .about-company .flex img.promo-img{
    position:absolute;
    height:100%;
    width:auto;
    max-width:unset;
    top:0;
    right:0;
  } 
  .about-company .flex .promo-border{
    height:434px;
  }
  .brands .flex{
    display:block; 
    height:429px;
  }
  .brands .brand{
    width: 436px;
    height: 429px;
    filter: drop-shadow(0 0 1px #000); 
    display:inline-block;
    margin:0 -196px 0 0;
    padding:0;
    flex:unset;
    position:relative;
    vertical-align:top;
    text-align:center;
    font-size:14px;
    line-height: 1.18;
    border:0;
  }
  .brands .brand:hover{
    filter: drop-shadow(0 0 6px #000); 
  }
  .brands .brand img{
    position:absolute;
    top:50px;
    left:0;
    right:0;
    margin-left: auto; 
    margin-right: auto;  
  }
  .brands .brand p{
    position:absolute;
    left:0;
    right:0;
    margin-left: auto; 
    margin-right: auto;     
  } 
  .brands .brand.odd{
    background: linear-gradient(to right bottom, transparent 50%, #ffffff 50%) left / 50% 100% no-repeat, linear-gradient(to left bottom, transparent 50%, #ffffff 50%) right / 50% 100% no-repeat;
  }
  .brands .brand.even{
    background: linear-gradient(to right top, transparent 50%, #ffffff 50%) left / 50% 100% no-repeat, linear-gradient(to left top, transparent 50%, #ffffff 50%) right / 50% 100% no-repeat;
  }
  .brands .brand img{
    display:none;
    margin:0;
    max-width:auto;
  }
  .brands .brand.gf:before{
    background:url(../images/gf-trio.png) no-repeat 0 0;
    width:161px;
    height:164px;
    position:absolute;
    top:77px;
    left:0;
    right:0;
    margin-left: auto; 
    margin-right: auto;  
    content: "";  
  }
  .brands .brand.gf .promo-gf{
    position:absolute;
    font-size:18px;
    top:245px;
    left:0;
    right:0;
    margin:0 auto;  
    width:125px;
  }
  .brands .brand.gf p{
    width:272px;
    display:block;
    top:286px;
    margin:0 auto;
  }
  .brands .brand.linger img{
    display:block;
    width:151px;
    position:absolute;
    top:20px;
    left:0;
    right:0;
    margin-left: auto; 
    margin-right: auto;     
  }
  .brands .brand.linger p{
    width:255px;
    top:103px;
  }
  .brands .brand.linger p span{
    line-height:20px;
  }
  .brands .brand.giaguaro:before{
    background:url(../images/giaguaro.png) no-repeat 0 0;
    width:173px;
    height:14px;
    position:absolute;
    top:197px;
    left:0;
    right:0;
    margin-left: auto; 
    margin-right: auto;  
    content: "";     
  }
  .brands .brand.giaguaro p{
    width:255px;
    top:236px;
  }
  .brands .brand.barkli img{
    display:block;
    width:252px;
    position:absolute;
    top:8px;
    left:0;
    right:0;
    margin-left: auto; 
    margin-right: auto;     
  }
  .brands .brand.barkli p{
    width:255px;
    top:114px;
  }
  .brands .brand.barkli p span{
    display:block;
  }  

}