@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic');

body{
  font-family: 'PT Sans', sans-serif;
  font-size:14px;
  line-height:1.21;
  color:#7e7f80;
  overflow-x:hidden; 
}
*{
  box-sizing:border-box;
}
a{
  text-decoration:none;
}
a:hover{
  text-decoration:none;
}
a:focus {
  box-shadow: unset;
}
img{
  display:block;
  max-width:100%;
}
figure{
  margin:0;
}
h1{
  font-family:'Montserrat', sans-serif;
  font-size:27px;
  line-height:36px;
  color:#3c3950;
  font-weight:bold;
  text-transform:uppercase;
  margin:26px 0;
}
h1.promo-h1{
  margin:0 0 15px;
}
h2{
  font-family:'Montserrat', sans-serif;
  font-size:32px;
  line-height:43px;
  color:#3c3950;
  font-weight:bold;
  text-transform:uppercase;
  margin:26px 0;
}
h3{
  font-family:'Montserrat', sans-serif;
  font-size:18px;
  line-height:36px;
  color:#3c3950;
  font-weight:bold;
  text-transform:uppercase;
  margin:15px 0;
}
h3.promo-h3{
  margin:0 0 -3px;
  font-weight:600;
}
h4{
  font-size:17px;
  line-height:34px;
  font-family:'Montserrat', sans-serif;
  font-weight:600;
  color:#7f8283;
  margin:5px 0 20px;
  text-transform:uppercase;
}
h5{
  font-size:17px;
  line-height:29px;
  font-family:'Montserrat', sans-serif;
  font-weight:500;
  color:#7f8283;
  margin:5px 0 19px;
  text-transform:uppercase;
}

p{
  margin: 0 0 15px;  
}
.form-select:focus {
  border-color:#bcc3ce;
}
.container{
  max-width:1200px;
  margin:0 auto;
  padding:0 15px;
  box-sizing: border-box;
}
.container-fluid{
  margin:0 auto;
  padding:0 15px;
  box-sizing: border-box;
  width:100%;
}
#page{
  display:flex;
  flex-direction:column;
}
header.header{
  font-family:'Montserrat', sans-serif;
  background:#000;
  color:#fff;
  padding:5px 0;
  display:none;
}
.not-front header .flex{
  order:1;
}
header .flex{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
header.header a{
  color:#fff;
}
.nav-menu,
ul.language-switcher-locale-url{
  margin:0;
  padding:0;
  list-style-type: none;
  list-style: none;
}

.header-user-area div,
.header-user-area a,
.header-user-area span{
  display:inline-block;
  text-transform:uppercase;
  vertical-align:middle;
}
.header-user-area span{
  margin:0 5px 0 0;
}
.header-user-area .logged-in a,
.header-user-area .log-out a{
  margin:0 12px 0 0;
}
.header-user-area .logged-in a:last-child,
.header-user-area .log-out a:last-child{
  margin:0 10px 0 0;
}
.socialki a{
  font-size:20px;
  margin:0 0 0 5px;
  text-decoration:none;
}
nav.logo-navigation{
  border-bottom:solid 1px #d3d4d5;
  position:relative;
  font-family:'Montserrat', sans-serif;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 20;
}
.not-front nav.logo-navigation{
  order:2;
}
nav.logo-navigation .flex{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  min-height:39px;
}
.mobile-language{
  position:relative;
  margin: 0;
  cursor:pointer;
  color:#353436;
}
.mobile-search-icon{
  margin:4px -5px 0;
  font-size:12px;
}
.mobile-search-icon,
.mobile-cart,
.mobile-cart a{
  color:#353436;
  cursor:pointer;
  text-decoration:none;
}
.mobile-cart{
  font-size:16px;
}
.cart-top a,
.mobile-cart a{
  position:relative;
}
.cart-top a span.item-count,
.mobile-cart a span.item-count{
  position: absolute;
  min-width:15px;
  font-size: 9px;
  line-height:15px;
  right:-10px;
  top:-8px;
  background:#000;
  border-radius:50%;
  text-align:center;
  padding:0 2px;
  color:#fff;
}
.cart-top a span.item-count{
  color:#000;
  background:#fff;
}
.mobile-language .language-switcher-locale-url{
  display:none;
  position:absolute;
  background:#fff;
  border:solid 1px #eee;
  padding: 5px;  
}
.mobile-language .language-switcher-locale-url.open{
  display:block;
  right: 0;
  top: 26px;
  text-align:center;
}
.mobile-language .language-switcher-locale-url li{
  padding:5px 0;
}
.mobile-language .language-switcher-locale-url li a{
  color:#333;
  font-weight:500;
}

.mobile-menu {
  width: 29px;
  background-color: transparent;
  background-image: none;
  border: 0;
  padding: 0;
  display: block;
  cursor:pointer;
}
button:focus {outline:0;}

.mobile-menu .icon-bar {
  display: block;
  height: 3px;
  width: 29px;
  background: #000;
  margin: 0 auto 3px;
}
.mobile-menu .icon-bar.last{
  margin: 0 auto;
}
.mobile-menu.open .icon-bar {
    display: none;
}

.mobile-menu .close-btn {
  display: none;
  width: 29px;
  height: 26px;
  background: #fff url(../images/closebtn.png) no-repeat center center;
}
.mobile-menu.open .close-btn {
  display: block;
}
#logo{
  width:55%;
  display:block;
  padding:10px 0 12px;
}
#logo img{
  margin:0 auto;
  max-width:160px;
}

#navigation{
  display:none;
  position:absolute;
  left:0;
  top:39px;
  background:#fff;
  padding:0 15px 0 15px;
  border:solid 1px #d3d4d5;
  border-left:0;
  width:80%;
  overflow-y:auto;
}
#navigation.open{
  display:block;
}
ul.nav-menu{
  display:flex;
  flex-direction: column; 
  margin:0;
}
ul.nav-menu li{
  font-size:14px;
  line-height:48px;
  font-weight:500;  
  text-transform:uppercase;
  letter-spacing:0.07px;
  padding:0;
  margin:0;
  border-bottom:solid 1px #e7e8e8;
  list-style-image: none;
  list-style-type: none; 
    
}
ul.nav-menu li:last-child,
#main-menu li.last{
  border:0;
}
ul.nav-menu li a{
  position:relative;
  display: block;
  color:#333;
}
ul.nav-menu li a:hover{
  color:#a1a5a9;
}
ul.nav-menu ul{
  margin:0 -15px;
  background:#fafafa;
  display:none;
}
ul.nav-menu li.open ul{
  display:block;
}
ul.nav-menu li ul li{
  font-size:13px;
  padding:0 15px;
}
ul.nav-menu li ul li a{
  color:#111;
}
ul.nav-menu li.open > a .arrow-down {
  transform: rotate(180deg);
}
ul.nav-menu li a .arrow-down {
  display: block;
  width: 47px;
  height: 42px;
  background: url(../images/arrow-down.png) no-repeat center center;
  position: absolute;
  right: 0;
  top: 0;
}

/* search */
#block-views-exp-search-results-page{
  display:none;
  width:90%;
  position:absolute;
  background:#fff;
  border:solid 1px #ddd;
  margin:0 15px 0 0;
  padding:0 15px;
  text-align:left;
}
#block-views-exp-search-results-page.open{
  display:block;
}
#block-views-exp-search-results-page input.form-text{
  border:solid 1px #eee;
}
#block-views-exp-search-results-page .views-exposed-form label{
  margin:0 0 5px;
}
#block-views-exp-search-results-page .views-exposed-form .views-exposed-widget .form-submit{
  margin:20px 0 0;
}

/* breadcrumb */
.breadcrumb{
  font-family: 'Montserrat', sans-serif;
  font-size:12.9px;
  line-height:34px;
  font-weight:600;
  color:#000;
  margin:0;
  padding:3px 0;
}
.breadcrumb .text{
  margin:0 5px 0 0;
}
.breadcrumb a{
  color:#000;
  text-decoration:none;
}
.breadcrumb .delim{
  margin:0 3px;
}

.trio-bg{
  overflow:hidden;
  width:100%;
}
.trio-bg svg{
  margin:0 -50%; 
}
svg g.rotate {
  transition: transform .3s;
  transform-origin: 50.1% center;
  transform: rotateY(0deg);
}
svg g.rotate:hover{
  transform: rotateY(180deg);
  transition-delay: .2s
}
svg g.rotate:hover .st1{
  /*display:none;*/
}
/* directions */
.directions{
  padding:14px 0 0;  
  text-align:center;
  margin:27px 0 0;
}
.not-front .directions{
  order:6;
}
.not-front .directions .block:first-child{
  margin:27px 0 76px;
}
.directions .direction{
  margin: 0 0 22px;
}
.directions h2{
  margin:25px 0 68px;
  text-align:left;
  font-size:27px;
  line-height:1.2;
}
.directions h3.promo-h3{
  text-align:left;
  margin:0 0 62px;
  color:#7f8283;
}
.directions h2.promo-h2{
  margin:25px 0 -10px;
}
.directions img{
  display:inline-block;
}
.directions h4{
  margin:10px 0 0;
  line-height: 1.2;
}
.directions h4::after{
  content:'';
  width:52px;
  height:3px;
  background:#000;
  border-top:solid 1px #444;
  border-bottom:solid 1px #ccc;
  display:block;
  margin:2px auto 0;
}
.directions p{
  font-family:'Montserrat', sans-serif;
  font-size:15px;
  font-weight:600;
  color:#000;
  margin:14px 0 0;
}
.directions a{
  font-family:'Montserrat', sans-serif;
  font-size:15px;
  line-height:29px;
  font-weight:600;
  text-transform:uppercase;
  color:#000;
}
.directions a:hover{
  color:#a1a5a9;
}

/* about company */
.not-front .about-company{
  order:4;
}
.promo-img{
  margin:0 0 8px;
}
.promo-text{
  border:solid 1px #c9d2d9;
  padding:5px;
}
.promo-border{
  border:solid 1px #ebeef1;
  padding:12px;
}

/* brands */
.brands{
  padding:0 0 1px;
  margin:0 0 -10px;
}
.not-front .brands{
  order:5;
}
.brand{
  border:solid 1px #e7e4e4;
  padding:19px 12px;
  margin:0 0 14px;
  text-align:center;
  color:#000;
}
.brand img{
  margin:0 auto;
}
.brand .promo-gf{
  margin:8px 0 20px;
  font-size:18px;
}
.brand.linger img{
  margin:40px auto 52px;
}
.brand.giaguaro img{
  margin:14px auto -9px;
}

.brand.barkli img{
  margin:40px auto 27px;
}
.brand.barkli p{
  margin:0 0 102px;
}

/* assortment */
.not-front .assortment{
  order:7;
}

.not-front .highlighted{
  order:8;
}

/* lookbook */
.lookbook{
  margin:0 0 40px;
}
.not-front .lookbook{
  order:3;
}
.lookbook h2{
  margin:26px 0 20px;
}
.lookbook .md-objects .md-object a{
  background:#fff!important;
  color:#333;
  border:solid 1px #333333;
  border-radius:0;
  padding:5px 0;
}
.lookbook .md-objects .md-object a:hover{
  background:#a1a5a9!important;
  color:#fff;
}
.lookbook .md-arrow-left, .lookbook .md-arrow-right {
  background:#000 url(../images/arrow-left.png) no-repeat center center;
  filter:invert(100%);
  height:39px;
  width:52px;
}
.lookbook .md-arrow-right {
  transform:rotate(180deg);
}
.lookbook .md-arrow-left:hover, .lookbook .md-arrow-right:hover {
  background:#a1a5a9 url(../images/arrow-left.png) no-repeat center center;
  filter:invert(0%);  
}
.lookbook .md-bullets{
  display:none;
}

/* bg-price */
.bg-price{
  height:372px;
  background:#7f8283 url(../images/bg-price.png) no-repeat center center;
  margin:30px -15px 0;
  color:#fff;
  text-align:center;
}
.register-to-get-price-list{
  font-family:'Montserrat', sans-serif;
  font-size:18px;
  font-weight:bold;
  text-transform:uppercase;
  padding:45px 15px 70px; 
}
.get-price-list-link a{
  background:#f7f7f7;
  display:inline-block;
  color:#333333;
  text-decoration:none;
  border:solid 1px #333333;
  font-size:15px;
  line-height:47px;
  padding:0 20px;
}
.get-price-list-link a span {
    margin: 0 0 0 10px;
    font-size: 20px;
    vertical-align: top;
    color:#000;
}

/* products catalog */
.shop h1{
  font-size:30px;
  line-height:40px;
  margin:0 0 2px;
  padding:0 0 11px;
  border-bottom:solid 2px #e5e5e5;
}
.view-products{
  margin:0 0 100px;
}
.view-products .view-filters{
  border-bottom:solid 2px #e5e5e5; 
  padding:0 0 15px;
}
.view-products .view-filters label{
  margin:0 0 10px;
}
.view-products .view-filters label:first-letter{
  text-transform:uppercase;
}
.view-products .view-content{
  margin:50px -15px 50px;
}
.view-products .row{
  margin:0 0 105px;
  padding:0 15px;
  font-family:'Montserrat';  
}
.view-products .column{
  padding:0 15px;
}
.view-products .column .outer:hover{
    -webkit-box-shadow: 0 0 10px rgba(116,132,149,0.8);
    box-shadow: 0 0 10px rgba(116,132,149,0.8);
    background: #fff;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    transition-duration: 0.2s;
    z-index: 6;
}
.view-products .project-desc,
.view-products .show-on-hover{
  position:relative;
}
.view-products figure{
  overflow:hidden;
}
.view-products img{
  height:auto;
  margin:0 auto;
}
.view-products img:hover{
  -webkit-transform: scale(1.09) translateZ(0);
  -moz-transform: scale(1.09) translateZ(0);
  -o-transform: scale(1.09) translateZ(0);
  -ms-transform: scale(1.09) translateZ(0);
  transform: scale(1.09) translateZ(0);
}
.view-products .ru-in-stock,
.view-products .cn-in-stock,
.view-products .add-to-cart-link a{
  position:absolute;
  background:#8b8a8a;
  color:#fff;
  border:0;
  text-align:center;
  font-size:12px;
  font-weight:bold;
  padding:7px 7px;
}
.view-products .ru-in-stock{
  left:0;
  top:0;
  min-height:43px;
}
.view-products .cn-in-stock{
  right:0;
  top:0;
  min-height:43px;
}
.view-products .add-to-cart-link a{
  display:none;
  left:0;
  top:0;
  height:41px;
  line-height:40px;
  width:100%;
  padding:0;
  font-size:12px;
  text-transform:uppercase;
  cursor:pointer;
  border-radius:0;
}
.view-products .add-to-cart-link a:hover{
  background:#333;
}
.view-products .project-item-inner:hover .ru-in-stock,
.view-products .project-item-inner:hover .cn-in-stock,
.view-products .project-item-inner:hover .add-to-cart-link a{
  display:block;
}

.view-products h4.title{
  font-size:17px;
  font-weight:bold;
  line-height: 1.2;
  text-transform:uppercase;
  text-align:center;
  margin: 5px 0 2px;
  padding:22px 0 0;
}
.view-products .title:before{
  content:'';
  width: 52px;
  height: 2px;
  background: #8b8e8e;
  border-top: solid 1px #e3e3e3;
  display: block;
  margin: 0 auto 35px;
}
.view-products .project-item-inner:hover .title:before{
  background: #303030;
  border-top: solid 1px #cdcdcd;  
}
.view-products .title a{
  color:#000;
}
.view-products .price{
  padding:0 0 15px;
}
.view-products .amount{
  font-weight:600;
  font-size:12px;
  line-height:25px;
  color:#000;  
  text-align:center;
}
.view-products .amount .price-value{
  font-size:15px;
  color:#00d300;
}
.view-products .retail-amount .price-value{
  color:#fa0000;
}
.view-products .views-exposed-form .bef-select-as-links{
  padding:.4rem .6rem 0.38rem;
  font-size: .8rem;
}
.view-products .views-exposed-form .bef-select-as-links,
.view-products .views-exposed-form .bef-select-as-links .form-item{
  display:inline-block;
}
.view-products .views-exposed-form .bef-select-as-links a{
  color:rgb(126, 127, 128);
}
.view-products .view-footer .btn,
.view-products .view-footer .btn.btn-primary{
  background:#8b8a8a;
  border-color:#8b8a8a;
  padding: 0.5em;
  margin:0 10px 10px 0;
  border-radius:0;
  color:#fff;
  height:auto;
}
.view-products .view-footer hr{
  color:#000;
  border: solid 1px #000;
  margin:0 0 12px;
}
#block-block-43 .btn.btn-primary {
  background:#8b8a8a;
  border-color:#8b8a8a;
  border-radius:0;
}

/* pager */
.item-list .pager{
  border-top:solid 2px #000;
  text-align:left;
  padding:12px 0 0;
}
.item-list .pager li{
  display:inline-block;
  margin:0 10px 10px 0;
  background:#8b8a8a;
  color:#fff;
}
.item-list .pager li a{
  color:#fff;
}

/* node product */
.node img{
  height:auto;
}
.owl-carousel {
	position:relative;
  overflow:hidden;
  padding:0 0 0 25.7906%;  
}
.owl-stage-outer{
  width:74%.5393;
  border:solid 1px #e6e6e6;
}
.owl-carousel .owl-item img{
  padding:10px;
}
.owl-thumbs{
  height:100%;
  width:22.7805%;
  position:absolute;
  top:0;
  left:0;
}
.owl-nav{
  position:absolute;
  right:16px;
  bottom:5px;
}
.owl-carousel .owl-thumb-item{
  margin:0 0 25.408%;
  padding:7px;
  height:28.1862%;
  border:0;
  background:none;
  overflow:hidden;
  border:solid 1px #e6e6e6;
}
.owl-carousel .owl-thumb-item img{
  margin:0 auto; 
}
.owl-carousel .owl-thumb-item:hover{
  cursor:pointer;
}
.owl-carousel .owl-nav button.owl-next, 
.owl-carousel .owl-nav button.owl-prev{
  font-size:40px;
  margin:0 0 0 15px;
}
.owl-carousel .owl-nav button.owl-next.disabled, 
.owl-carousel .owl-nav button.owl-prev.disabled{
  color:#eee;
}

/* tabs */
.tabs__caption {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	list-style: none;
	position: relative;
	margin: -1px 0 0 -1px;
}
.tabs__caption li:last-child:before {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	right: -2px;
	z-index: -1;
	height: 5px;
}
.tabs__caption:after {
	content: '';
	display: table;
	clear: both;
}
.tabs__caption li {
	padding: 9px 15px;
	margin: 1px 0 0 1px;
	color: #999999;
	position: relative;
	text-align: center;
}
.tabs__caption li:not(.active) {
	cursor: pointer;
}
.tabs__caption li:not(.active):hover {

}
.tabs__caption .active {
	color: #000;
}
.tabs__caption .active:after {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	right: 0;
	height: 5px;
}
.tabs__content {
	display: none;
	border-radius: 0 5px 5px 5px;
	padding: 7px 15px;
  color:#666666;
}
.tabs__content.active {
	display: block;
}

.vertical .tabs__caption {
	float: left;
	display: block;
}
.vertical .tabs__caption li {
	float: none;
	border-width: 2px 0 2px 2px;
	border-radius: 5px 0 0 5px;
}
.vertical .tabs__caption li:last-child:before {
	display: none;
}
.vertical .tabs__caption .active:after {
	left: auto;
	top: 0;
	right: -2px;
	bottom: 0;
	width: 2px;
	height: auto;
}
.vertical .tabs__content {
	overflow: hidden;
}

@media screen and (max-width: 599px) {
	.tabs__caption li {
		-webkit-flex: 1 0 auto;
		    -ms-flex: 1 0 auto;
		        flex: 1 0 auto;
	}
	.vertical .tabs__caption {
		float: none;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	.vertical .tabs__caption li {
		border-width: 2px 2px 0;
		border-radius: 5px 5px 0 0;
	}
	.vertical .tabs__caption li:last-child:before {
		display: block;
	}
	.vertical .tabs__caption .active:after {
		top: auto;
		bottom: -5px;
		left: 0;
		right: 0;
		width: auto;
		height: 5px;
		background: #FFF;
	}
}

.available-colors .sub-title{
  font-family:'Montserrat';
  line-height:43px;
  font-weight:600;
  color:#000;
  text-transform:uppercase;
}
.available-colors .views-row{
  display:inline-block;
  margin:0 10px 10px 0;
}
.available-colors .views-row a{
  position:relative;
  display:block;
  padding: 7px;
  border: solid 1px #e6e6e6;
  width:76px;
}
.available-colors .views-row a img{
  z-index:1;
}
.available-colors .views-row a span.stock-level{
  z-index:10;
  position:absolute;
  margin:auto;
  top:22px;
  left:0;
  right:0;
  font-size:26px;
  color:#8d8c8c;
  text-align:center;
}



/* footer */
.prefooter{
  background:#333;
  color:#fff;
  font-size:16px;
  line-height:36px;
  padding:20px 0;
}
.not-front .prefooter{
  order:9;
}
.prefooter h5{
  color:#fff;
}
.prefooter a{
  color:#fff;
}
.prefooter a:hover{
  color:#a1a5a9;
}
.prefooter img{
  display:none;
}
.prefooter .flex{
  display:flex;
  flex-direction:column;
}
.prefooter .flex .col{
  margin:0 0 27px;
}
.prefooter .icon_hourglass::before,
.prefooter .flex .col [data-icon]::before{
  margin:0 5px 0 0;
}

#footer{
  background:#000;
  padding:8px 0;
  font-size:11px;
  color#fff;
}
.not-front #footer{
  order:10;
}
#footer a{
  color:#fff;
  vertical-align:middle;
  white-space:nowrap;
}
#footer .flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
	display: -webkit-flex;
	display: -ms-flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;  
}
#footer img{
  width:70%;
  margin:2px 0;
}
#footer .flex-col{
  white-space:nowrap;
}
#footer .socialki{
  display:inline-block;
  border-left:solid 1px #fff;
  margin:0 0 0 5px;
  line-height:20px;
}
#footer .socialki a{font-size:13px;}
#footer a.customer-service:before{
  margin:0 3px 0 0;
}

@media (min-width: 600px) {
  .mobile-cart{
    font-size:22px;
  }
  .mobile-search-icon{
    font-size:16px;
    margin:4px 0 0;
  }
  .mobile-language .change-language{
    font-size:20px;
  }
  
  .mobile-language .language-switcher-locale-url.open{
    top:29px;
  }
  .trio-bg svg{
    margin:0 -30%;  
  }  
  .directions .flex{
    display:flex;
    flex-wrap: wrap;
    width:80%;
    margin:0 auto;
  }
  .not-front .directions .flex{
    width:100%;
  }  
  .directions .direction{
    flex: 1 50%;
  }
  .not-front .directions .direction{
    padding:0 15px;
  }
  .directions h2{
    font-size: 32px;
    line-height: 43px;    
  }
  .directions h2.promo-h2{
    margin:25px 0 -12px;
  }  
  .promo-img {
    width:100%;
  }
  .brands{
    margin:0;
  }
  .brands .flex{
    display:flex;
    flex-wrap: wrap;    
  }
  .brands .brand{
    flex: 0 50%;
    box-sizing:border-box;
    margin:0 0 -1px;
  }
  .brands .brand:nth-child(2n){
    border-left:0;
  }
  .brand.linger img {
    margin: 20px auto 52px;
    max-width:258px;
  }
  .bg-price{
    margin:80px -15px 0;
  }
  .register-to-get-price-list{
    font-size:20px;
    padding:96px 15px 70px;
  }
  .prefooter .flex{
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
  }
  .prefooter .flex .col{
    flex: 1 50%;
    box-sizing:border-box;
  }
  #footer .customer-service {
    font-size:14px;
  }
  #footer .socialki a {
    font-size: 18px;
  }
}


@media (min-width: 1000px) {
  body{
    font-size:18px;
    line-height:1.18;
    overflow-x:hidden;
  }
  h1{
    font-size:32px;
    line-height:43px;
  }
  .lookbook h2{
    margin:26px 0;
  }
  h3.promo-h3{
    font-size:24px;
    line-height:43px;    
  }
  /* header */
  header.header{
    font-size:12px;
    line-height:27px;
    display:block;
  }
  header .flex{
    flex-direction: row;
    justify-content: space-between;
  }
  .header .language-languages{
    min-width:40px;
    display:inline-block;
    font-weight:500;
    position:relative;
    vertical-align:middle;
    height:27px;
    overflow:hidden;
    text-align:center; 
    z-index:99;
  }
  .header .language-languages.open{
    overflow:visible;
  }
  .header .language-switcher-locale-url{
    position:absolute;
    background:#000;
    padding:0 7px 7px;
    display:flex;
    flex-direction:column;
    z-index:199;
  }
  .header .language-switcher-locale-url li{
    margin:0;
  }
  .header .language-switcher-locale-url li.active{
    order:-1; 
  } 
  .header .language-switcher-locale-url a.active, 
  .header .language-switcher-locale-url a:active, 
  .header .language-switcher-locale-url a:focus, 
  .header .language-switcher-locale-url a:hover {
    text-decoration:none;
    box-shadow: none;
  }
  .language-title{
    text-transform:uppercase;
    display:inline-block;
    font-weight:500;
    vertical-align:middle;
  }
  .language-trio{
    width:20px;
    height:27px;
    display:inline-block;
    vertical-align:middle;
    cursor:pointer;
    background:url(../images/trio-down.png) no-repeat center center;
    margin: 0 0 0 -9px;
  }
  .header-user-area .logged-in a:last-child,
  .header-user-area .log-out a:last-child{
    margin:0 50px 0 0;
  }
  .header .cart-top{
    font-size:22px;
    line-height:27px;
    display:inline-block;
    margin:0 0 0 20px;
  }
  .header .cart-top .icon_cart_alt{
    vertical-align:top;
  }
  .header .cart span{
    vertical-align: top;
  }
  #logo img{
    max-width:359px;
  }
  #logo{
    order:1;
  }
  /*navigation & logo */
  nav.logo-navigation{
    text-align:center;
    padding: 9px 0 14px;
  }
  nav.logo-navigation .flex {
    display: flex;
    /*flex-direction: column;
    justify-content: center;*/
    justify-content: space-between;
    flex-wrap: wrap;
  }
  nav.logo-navigation img{
    display:inline-block;
  }
  #logo{
    width:100%;
  }
  .mobile-cart{
    order:3;
    display:none;
  }
  .cart-top a span.item-count,
  .mobile-cart a span.item-count{
    right:-8px;
    top:-3px;    
  }
  .mobile-search-icon{
    order:4;
    margin:0 0 0 10px;
  }
  #navigation{
    padding:9px 0 0;
    position:static;
    display:block;
    text-align:left;
    border:0;
    order:2;
    width:100%;
    text-align:center;
    overflow:visible;
  }
  .not-front #navigation{
    flex-grow:2;
    width:auto;
  }
  .shop #navigation,
  .model #navigation{
    text-align:left;
  }
  #navigation .nav-menu{
    margin:0 0 -14px;
    padding:0;
    list-style-type: none;
    display:block;
  }
  #navigation .nav-menu li{
    font-size:15px;
    line-height:28px;
    font-weight:500;
    border:0;
    display:inline-block;
    margin:0 6px;
    position:relative;
  }
  #navigation .nav-menu > li{
    padding:0 0 14px;
  }
  #navigation .nav-menu > li:first-child{
    margin:0 6px 0 0;
  }
  #navigation .nav-menu li ul{
    display:none;
    position:absolute;
    top:42px;
    left:0;
    margin:0;
    padding:15px 0;
    border:solid 1px #ececec;
    border-top:solid 2px #000;
    background:#fff;
  }
  #navigation .nav-menu li:hover ul{
    display:block;
  }
   #navigation .nav-menu li ul li{
    text-transform: none;
    display:block;
    white-space:nowrap;
    margin:0;
  }  
  #sub-main-menu.nav-menu,
  .mobile-language,
  .mobile-menu{
    display:none;
  }
  ul.nav-menu li > a{
    padding:0 12px 0 0;
  }
  ul.nav-menu li > a .arrow-down{
    width: 10px;
    height: 10px;
    top:10px;
    background: url(../images/trio-black-down.png) no-repeat center center;
  }
  ul.nav-menu li:hover > a .arrow-down{
    transform: rotate(180deg);
    top: unset;
    bottom: -16px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .not-front #navigation .search-outer .form-text{
    border:0;
    border-bottom:solid 1px #000;
    font-size:11px;
    line-height:20px;
    color:#7b7a7a;
    background:url(../images/search.png) no-repeat right 0; 
  }
  #block-views-exp-search-results-page{
    top:122px;
  }
  #block-views-exp-search-results-page .views-exposed-form .views-exposed-widget .form-submit {
    margin: 25px 0 0;
  }
  .view-products .row{
    margin:0 -15px 105px;
  }
  .trio-bg svg{
    margin:0 auto;
    background:#fff;
  }  
  .directions {
    text-align: center;
    margin: 27px 0 54px;
  }
  .directions .flex{
    align-items: baseline;
    width:100%;
    justify-content: space-between;
  }
  .directions .direction{
    flex: 0 auto;
  }
  .not-front .directions .direction{
    padding:0;
  }
  .directions h2.promo-h2{
    margin:25px 0 -16px;
  }   
  .promo-img {
    width:auto;
  }
  .about-company .flex{
    display: flex;
    width: 100%;
    height: 602px;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .about-company .flex .img{
    order:-1;
    width:40.2061%;
    height:602px;
    margin:0 2.0% 0 0;
    position:relative;
  }
  .not-front .about-company .flex .img{
    order:3;
    margin:0 0 0 2.0%;
  }
  .about-company .flex .headera-outer{
    order:1;
    width:57.5257%;
  }
  .about-company .flex .promo-text{
    order:1;
    width:57.5257%;
  }
  .about-company .flex img.promo-img{
    position:absolute;
    height:100%;
    width:auto;
    max-width:unset;
    top:0;
    right:0;
  } 
  .not-front .about-company .flex img.promo-img{
    right:auto;
    left:0;
  }
  .about-company .flex .promo-border{
    height:474px;
  }
  
  .assortment .flex{
    display:flex;
    flex-wrap: nowrap;
  }
  .assortment .flex .promo-text{
    box-sizing: border-box;
  }
  .assortment .flex .promo-text{
    order:-1;
    margin:0 20px 0 0;
    width:658px;
  }
  .not-front .assortment .flex .promo-text{
    order:2;
    margin:0 0 0 20px;
  }
  .assortment .flex .promo-border{
    min-height:454px;
  }
  .assortment .flex .img{
    width:40%;
    position:relative;
  }
  .assortment .flex img.promo-img{
    position:absolute;
    height:100%;
    width:auto;
    max-width:unset;
  }
  .not-front .assortment .flex img.promo-img{
    right:0;
  }
  .lookbook {
    margin: 26px 0 0;
  }
  .not-front .lookbook {
    margin: 0 0 45px;
  }  
  .lookbook .container-fluid{
    padding:0;
  }  
  .prefooter .flex{
    margin:0 -15px;
  }
  .prefooter .flex .col{
    flex: 1 auto;
    padding:0 15px;
  }
  .prefooter img {
    display: block;
    margin:20px auto 33px;
  }  
  .prefooter .flex .col h5{
    margin: 5px 0 35px;
  }
  .prefooter .flex .col div{
    margin:0 0 16px;
    line-height:20px;
  }
  #footer{
    padding:16px 0;
  }
  #footer .copyright img{
    max-width:165px;
    margin:0 10px 0 7px;
  }
  #footer .copyright img,
  #footer .copyright span{
    display:inline-block;
    vertical-align:middle;
  } 
  #footer .copyright span.last{
    border-left:solid 1px #8a8a89;
    padding:0 0 0 10px;
    line-height:16px;
  } 
  #footer .customer-service {
      font-size: 15px;
  }  
  #footer .socialki {
    margin: 0 0 0 16px;
    padding:0 0 0 24px;
    line-height: 26px;
    border-left: solid 2px #fff;
  }
  #footer .socialki a {
    font-size: 20px;
    margin: 0 0 0 7px;
  }

}

@media (min-width: 1200px) {
  html{
    background:#fff url(../images/bg-left-trio.png) no-repeat -130px 1250px;
  }
  body{
    background:url(../images/bg-right-trio.png) no-repeat right 844px;  
  }  
  h1,h2, .directions h2 {
    font-size:36px;
    line-height:48px;
  }
  h2, .lookbook h2{
    margin:41px 0;
  }
  h3.promo-h3 {
    font-size: 24px;
    line-height: 48px;
  }
  .about-company .flex{
    display: flex;
    width: 100%;
    height: 574px;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .about-company .flex .img{
    width:490px;
    height:574px;
    margin:0 20px 0 0;
    position:relative;
  }
  .about-company .flex .headera-outer{
    order:1;
    width:658px;
  }
  .about-company .flex .promo-text{
    order:1;
    width:658px;
    background:#fff;
  }
  .about-company .flex img.promo-img{
    position:absolute;
    height:100%;
    width:auto;
    max-width:unset;
    top:0;
    right:0;
  } 
  .about-company .flex .promo-border{
    height:434px;
  }
  .brands .flex{
    display:block; 
    height:429px;
  }
  .brands .brand{
    width: 436px;
    height: 429px;
    filter: drop-shadow(0 0 1px #000); 
    display:inline-block;
    margin:0 -196px 0 0;
    padding:0;
    flex:unset;
    position:relative;
    vertical-align:top;
    text-align:center;
    font-size:14px;
    line-height: 1.18;
    border:0;
  }
  .brands .brand:hover{
    filter: drop-shadow(0 0 6px #000); 
  }
  .brands .brand img{
    position:absolute;
    top:50px;
    left:0;
    right:0;
    margin-left: auto; 
    margin-right: auto;  
  }
  .brands .brand p{
    position:absolute;
    left:0;
    right:0;
    margin-left: auto; 
    margin-right: auto;     
  } 
  .brands .brand.odd{
    background: linear-gradient(to right bottom, transparent 50%, #ffffff 50%) left / 50% 100% no-repeat, linear-gradient(to left bottom, transparent 50%, #ffffff 50%) right / 50% 100% no-repeat;
  }
  .brands .brand.even{
    background: linear-gradient(to right top, transparent 50%, #ffffff 50%) left / 50% 100% no-repeat, linear-gradient(to left top, transparent 50%, #ffffff 50%) right / 50% 100% no-repeat;
  }
  .brands .brand img{
    display:none;
    margin:0;
    max-width:auto;
  }
  .brands .brand.gf:before{
    background:url(../images/gf-trio.png) no-repeat 0 0;
    width:161px;
    height:164px;
    position:absolute;
    top:77px;
    left:0;
    right:0;
    margin-left: auto; 
    margin-right: auto;  
    content: "";  
  }
  .brands .brand.gf .promo-gf{
    position:absolute;
    font-size:18px;
    top:245px;
    left:0;
    right:0;
    margin:0 auto;  
    width:125px;
  }
  .brands .brand.gf p{
    width:272px;
    display:block;
    top:286px;
    margin:0 auto;
  }
  .brands .brand.linger img{
    display:block;
    width:151px;
    position:absolute;
    top:20px;
    left:0;
    right:0;
    margin-left: auto; 
    margin-right: auto;     
  }
  .brands .brand.linger p{
    width:255px;
    top:103px;
  }
  .brands .brand.linger p span{
    line-height:20px;
  }
  .brands .brand.giaguaro:before{
    background:url(../images/giaguaro.png) no-repeat 0 0;
    width:173px;
    height:14px;
    position:absolute;
    top:197px;
    left:0;
    right:0;
    margin-left: auto; 
    margin-right: auto;  
    content: "";     
  }
  .brands .brand.giaguaro p{
    width:255px;
    top:236px;
  }
  .brands .brand.barkli img{
    display:block;
    width:252px;
    position:absolute;
    top:8px;
    left:0;
    right:0;
    margin-left: auto; 
    margin-right: auto;     
  }
  .brands .brand.barkli p{
    width:255px;
    top:114px;
  }
  .brands .brand.barkli p span{
    display:block;
  }  

}